@font-face {
    font-family: "Mono-Regular";
    /*Can be any text*/
    src: local("JetBrainsMono-Regular"),
        url("../.././fonts/JetBrainsMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Mono-Medium";
    /*Can be any text*/
    src: local("JetBrainsMono-Medium"),
        url("../.././fonts/JetBrainsMono-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Mono-Bold";
    /*Can be any text*/
    src: local("JetBrainsMono-Bold"),
        url("../.././fonts/JetBrainsMono-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Mono-ExtraBold";
    /*Can be any text*/
    src: local("JetBrainsMono-ExtraBold"),
        url("../.././fonts/JetBrainsMono-ExtraBold.ttf") format("truetype");
}

.mainAccount {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.accountInfo hr {
    color: black;
    width: 70%;
    background-color: black;
    height: 1;
    border-color: black;
    align-self: flex-start;
    margin-left: 8vw;
    margin-bottom: 3vh;
}

.accountInfo h1 {
    font-size: 4.5rem;
    font-weight: bolder;
    margin-bottom: 1rem;
    font-family: 'Mono-Bold';
    align-self: flex-start;
    margin-left: 10vw;
    color: black;
}

.accountInfo {
    display: flex;
    width: 80%;
    height: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
}

.accountInfoText {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.userInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.userInformation h2 {
    font-size: 2rem;
    font-weight: 500;
    width: 90%;
    text-align: center;
    font-family: 'Mono-Regular';
}

.userActions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.userPicture {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.userAction {
    width: 50%;
    height: 50px;
    border-radius: 10px;
    border: 1.5px solid black;
    background-color: #0065FF;
    color: white;
    font-size: 1.75rem;
    font-weight: 500;
    font-family: 'Mono-Regular';
    margin-top: 1rem;
}

.userActionNotAllowed {
    width: 50%;
    height: 50px;
    border-radius: 10px;
    border: 1.5px solid black;
    background-color: #0065FF;
    color: white;
    font-size: 1.75rem;
    font-weight: 500;
    font-family: 'Mono-Regular';
    margin-top: 1rem;
    opacity: 0.5;
}

#tooltip {
    width: 10rem;
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    padding: 10px;
    background-color: white;
    box-shadow: 0 1px 1px 2px #0000001e;
    border-radius: 10px;
}

.dangerAction{
    width: 50%;
    height: 50px;
    border-radius: 10px;
    border: 1.5px solid black;
    background-color: #ff0000;
    color: white;
    font-size: 1.75rem;
    font-weight: 500;
    font-family: 'Mono-Regular';
    margin-top: 1rem;
}

.responseText {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Mono-Regular';
    margin-top: 1rem;
    color: green
}

.changeActivatePopup {
    width: 100%;
    height: 100%;
}

.changePopup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40rem;
    /* height: 15rem; */
    padding: 2rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
}

.changeTitle {
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Mono-Regular';
    margin-top: 1rem;
    color: black;
}

.changeTextInput {
    width: 80%;
    height: 3rem;
    border-radius: 10px;
    border: 1.5px solid black;
    background-color: white;
    color: black;
    font-size: 1.75rem;
    font-weight: 500;
    font-family: 'Mono-Regular';
    margin-top: 1rem;
    padding-left: 1rem;
}

.confirmChange {
    width: 50%;
    height: 50px;
    border-radius: 10px;
    border: 1.5px solid black;
    background-color: green;
    color: white;
    font-size: 1.75rem;
    font-weight: 500;
    font-family: 'Mono-Regular';
    margin-top: 1rem;
}

.closePopup {
    cursor: pointer;
    position: absolute;
    display: block;
    /* padding: 2px 5px; */
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
    outline: none;
}
