@font-face {
    font-family: "Mono-Regular";
    /*Can be any text*/
    src: local("JetBrainsMono-Regular"),
        url("../.././fonts/JetBrainsMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Mono-Medium";
    /*Can be any text*/
    src: local("JetBrainsMono-Medium"),
        url("../.././fonts/JetBrainsMono-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Mono-Bold";
    /*Can be any text*/
    src: local("JetBrainsMono-Bold"),
        url("../.././fonts/JetBrainsMono-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Mono-ExtraBold";
    /*Can be any text*/
    src: local("JetBrainsMono-ExtraBold"),
        url("../.././fonts/JetBrainsMono-ExtraBold.ttf") format("truetype");
}

.mainAccount {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* width: 50vw; */
    /* height: 60vh; */
}

.accountInfo hr {
    color: black;
    width: 70%;
    background-color: black;
    height: 1;
    border-color: black;
    align-self: flex-start;
    margin-left: 8vw;
    margin-bottom: 3vh;
}

.accountInfo h1 {
    font-size: 4.5rem;
    font-weight: bolder;
    margin-bottom: 1rem;
    font-family: 'Mono-Bold';
    align-self: flex-start;
    margin-left: 10vw;
    color: black;
}

.accountInfo {
    display: flex;
    width: 80%;
    margin-left: 10vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    /* margin: 1rem 0 2rem 0; */
}

.accountInfoText {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 10vw;
    
}

.userInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 50%; */
    height: 100%;
    /* background-color: white; */
}

.userInformation h2 {
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Mono-Regular';
}

.userActions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.userPicture {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.userAction {
    width: 50%;
    height: 50px;
    border-radius: 10px;
    border: 1.5px solid black;
    background-color: #0065FF;
    color: white;
    font-size: 1.75rem;
    font-weight: 500;
    font-family: 'Mono-Regular';
    margin-top: 1rem;
}

.dangerAction{
    width: 50%;
    height: 50px;
    border-radius: 10px;
    border: 1.5px solid black;
    background-color: #ff0000;
    color: white;
    font-size: 1.75rem;
    font-weight: 500;
    font-family: 'Mono-Regular';
    margin-top: 1rem;
}
