@font-face {
    font-family: "Mono-Regular";   /*Can be any text*/
    src: local("JetBrainsMono-Regular"),
      url("../.././fonts/JetBrainsMono-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Mono-Medium";   /*Can be any text*/
    src: local("JetBrainsMono-Medium"),
      url("../.././fonts/JetBrainsMono-Medium.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Mono-Bold";   /*Can be any text*/
    src: local("JetBrainsMono-Bold"),
      url("../.././fonts/JetBrainsMono-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Mono-ExtraBold";   /*Can be any text*/
    src: local("JetBrainsMono-ExtraBold"),
      url("../.././fonts/JetBrainsMono-ExtraBold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Roboto";
    src: local("Roboto"),
      url("../.././fonts/Roboto-Regular.ttf") format("truetype");
  }
  
  .Register {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    background-image: linear-gradient(#0066FF, #ff5e0085);
  }
  
  .Registration {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 5px 10px 2vw #000000c8;
  }
  
  .RegisterTitle h1 {
    font-size: 5rem;
    font-family: "Mono-Regular";
  }
  
  .RegisterTitle h2 {
    font-size: 3rem;
    font-weight: 1;
    font-family: "Mono-Regular";
    color: #CBCBCB;
  }
  
  .RegisterOptions {
    display: flex;
    justify-content: space-between;
  }

  .LoginButtons {
    width: 100%;
    height: 30%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

  }

  .PhotoCodeLogin {
    height: 20%;
    width: 27%;
    border-radius: 10px;
    border: none;
    background-color: #575757;
    font-size: 2rem;
    font-family: "Mono-Regular";
    color: white;
    cursor: pointer;
  }

  .LoginButtons div{
    height: 20%;
    width: 27%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084),
      0px 2px 3px rgba(0, 0, 0, 0.168);
    border-radius: 10px;
    cursor: pointer;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .LoginButtons h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.54);
  }

  .GoogleIcon {
    width: 25%;
    height: 70%;
  }
    
  #GitHub {
    background-color: black;
  }

  #GitHub h1 {
    color: white;
  }

  .GitHubIcon {
    width: 25%;
    height: 70%;
    color: white;
  }

  #LinkedIn {
    background-color: #0066FF;
  }

  #LinkedIn h1 {
    color: white;
  }

  .LinkedInIcon {
    width: 25%;
    height: 65%;
    color: white;
    background: none;
  }

  .emailIcon {
    width: 25%;
    height: 65%;
    color: rgba(0, 0, 0, 0.54);
    background: none;
  }
  
  .WelcomeInfo {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .WelcomeTitle {
    font-size: 5rem;
    font-family: "Mono-Regular";
    color: white;
  }
  
  .WelcomeText {
    width: 65%;
    margin-top: 1vw;
    font-size: 2rem;
    font-family: "Mono-Regular";
    color: white;
  }
  
  .gotoRegister {
    margin-top: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 100px;
    border: none;
    background-color: white;
    font-size: 4rem;
    font-family: "Mono-Regular";
    color: #0066FF;
    cursor: pointer;
  }
  
  
  
  