@font-face {
    font-family: "Mono-Regular";   /*Can be any text*/
    src: local("JetBrainsMono-Regular"),
      url("../.././fonts/JetBrainsMono-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Mono-Medium";   /*Can be any text*/
    src: local("JetBrainsMono-Medium"),
      url("../.././fonts/JetBrainsMono-Medium.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Mono-Bold";   /*Can be any text*/
    src: local("JetBrainsMono-Bold"),
      url("../.././fonts/JetBrainsMono-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Mono-ExtraBold";   /*Can be any text*/
    src: local("JetBrainsMono-ExtraBold"),
      url("../.././fonts/JetBrainsMono-ExtraBold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Roboto";
    src: local("Roboto"),
      url("../.././fonts/Roboto-Regular.ttf") format("truetype");
  }
  
  .ResetPasswordContainer {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#0066FF, #ff5e0085);
  }
  
  .ResetPasswordBox {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 5px 10px 2vw #000000c8;
    border-radius: 10rem;
  }
  
  .ResetPasswordTitle h1 {
    font-size: 5rem;
    font-family: "Mono-Regular";
  }
  
  .PasswordFields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

    
  .resetPasswordInput {
    display: flex;
    flex-direction: row;
    background-color: #e6e6e6;
    /* background-color: black; */
    border: none;
    border-radius: 15px;
    margin-bottom: 2vw;
    justify-content: center;
    align-items: center;
  }
  
  
  .PasswordIconSym {
    width: 3.5vw;
    height: 3.3vw;
    padding: 1rem;
  }

  
  .passwordInputField {
    width: 90%;
    background: none;
    border: none;
    font-size: 3rem;
    font-family: "Mono-Regular";
    /* background-color: black; */
    
  }
  
  .passwordInputField::placeholder {
    font-size: 3rem;
    font-family: "Mono-Regular";
    color: black;
  }
  
  .passwordInputField:focus {
    border-color: #e6e6e6;
    border-width: 0;
    outline: none;
  }

  
  .resetButton {
    border-radius: 100px;
    border: none;
    background-color: #0066FF;
    font-size: 4rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: "Mono-Regular";
    color: white;
    cursor: pointer;
  }

  .error {
    font-size: 2.5vw;
    font-family: 'Mono-Regular';
    color: red;
  }
  
