@font-face {
    font-family: "Mono-Regular";
    src: local("JetBrainsMono-Regular"),
        url("../.././fonts/JetBrainsMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Mono-Medium";
    src: local("JetBrainsMono-Medium"),
        url("../.././fonts/JetBrainsMono-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Mono-Bold";
    src: local("JetBrainsMono-Bold"),
        url("../.././fonts/JetBrainsMono-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Mono-ExtraBold";
    src: local("JetBrainsMono-ExtraBold"),
        url("../.././fonts/JetBrainsMono-ExtraBold.ttf") format("truetype");
}

.CreateProjectContainer {
    min-height: 100rem;
    /* background: linear-gradient(180deg, #0066FF 0%, #FFFFFF 100%); */
    background-color: white;
    display: flex;
    flex-direction: column;
}

.CreateProjectMain {
    background: linear-gradient(180deg, #0066FF 0%, #FFFFFF 100%);
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.CreateProject {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.CreateProjectContainer h2 {
    font-family: "Mono-Regular";
    font-size: 5rem;
    align-self: center;
    color: white;
}

.CreateProjectForm {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
}

.inputField {
    width: 70rem;
    background-color: white;
    border: none;
    border-radius: 10px;
    font-size: 3rem;
    font-family: "Mono-Regular";
    padding: 2rem;
    margin: 1rem;
    outline: none;
}

.inputField::placeholder {
    font-size: 3rem;
    font-family: "Mono-Regular";
    /* color: black; */
}

.inputField:focus {
    /* border-color: #e6e6e6; */
    background-color: white;
    border-width: 0;
}

.inputFieldDescription {
    resize: none;
    width: 70rem;
    height: 20rem;
    /* background-color: #e6e6e6; */
    background-color: white;
    border: none;
    border-radius: 10px;
    font-size: 3rem;
    font-family: "Mono-Regular";
    padding: 2rem;
    margin: 1rem;
    outline: none;
}

.CreateProjectButton {
    height: 7rem;
    background-color: #0066FF;
    border: none;
    border-radius: 10px;
    font-size: 3rem;
    font-family: "Mono-Regular";
    color: white;
    padding: 2rem;
    margin: 1rem;
    cursor: pointer;
}

.CreateProjectFileUploader {
    width: 90rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10.7rem;
    background-color: #e6e6e662;
    border: 1px solid #000000;
    border-radius: 15px 15px 15px 15px;
    margin-right: 1rem;
}

.CreateProjectFileUploaderAfter {
    width: 90rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10.7rem;
    background-color: #e6e6e662;
    border: 1px solid #000000;
    border-radius: 15px 15px 0px 0px;
    margin-right: 1rem;
}

file-attachment {
    /* width: 100%; */
    height: 25rem;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}

file-attachment[hover] {
    background-color: #c2c2c262;
    border: 1.5px dotted #d1d1d1;
    height: 99%;
    margin-bottom: 1%;
}

file-attachment input {
    opacity: 0;
    width: 100%;
    height: 25rem;
    cursor: pointer;
    position: absolute;
    left: 0%;
    top: 0%;
}

.file-attachment-text {
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    font-family: "Mono-Regular";
    color: black;
    padding-left: 2rem;
    padding-right: 2rem;
}

.dropzone {
    /* width: 80%; */
    height: 20vh;
    background-color: #e6e6e662;
    border: 1px solid #000000;
    font-size: 1.5vw;
    font-family: "Mono-Regular";
    padding: 2rem;
    margin: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.listUploadedFilesContainer {
    width: 100%;
    margin-bottom: 5rem;
}

.listUploadedFiles {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-radius: 0px 0px 15px 15px;
    /* padding: 1rem; */
    margin-bottom: 5rem;
}

.uploadedFile {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #000000;
}

.uploadedFileLast {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.uploadedFileLast h1 {
    font-size: 1.5rem;
    font-family: "Mono-Regular";
    font-weight: lighter;
    color: black;
    margin-left: 1rem;
    max-width: 80%;
}

.uploadedFile h1 {
    font-size: 1.5rem;
    font-family: "Mono-Regular";
    font-weight: lighter;
    color: black;
    margin-left: 1rem;
    max-width: 80%;
    overflow: auto;
}

.uploadedFile h1::-webkit-scrollbar {
    display: none;
}

.uploadedFileLast h1::-webkit-scrollbar {
    display: none;
}

.uploadedFile button {
    border: none;
    background: none;
    width: 2rem;
    border-radius: 100%;
    font-family: "Mono-Regular";
    color: white;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    right: 2rem;
}

.uploadedFileLast button {
    border: none;
    background: none;
    width: 2rem;
    border-radius: 100%;
    font-family: "Mono-Regular";
    color: white;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    right: 2rem;
}

/* edit component with alt "delete" */
.uploadedFile button img {
    width: 2.5rem;
}

.uploadedFileLast button img {
    width: 2.5rem;   
}

/* || Media Styles */
/* #region */
@media screen and (max-width: 1750px) {
    .CreateProject {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .CreateProjectForm {
        margin-top: 0;
    }

    .CreateProjectFileUploader {
        width: 74rem;
        margin-top: 2rem;
        margin-right: 0;
    }
    .CreateProjectFileUploaderAfter {
        width: 74rem;
        margin-top: 2rem;
        margin-right: 0;
    }
}
  
@media screen and (max-width: 925px) {
    .CreateProjectForm {
        margin-top: 0;
    }

    .inputField {
        width: 50rem;
    }

    .inputFieldDescription {
        width: 50rem;
    }

    .CreateProjectFileUploader {
        width: 50rem;
        margin-top: 2rem;
        margin-right: 0;
    }
    .CreateProjectFileUploaderAfter {
        width: 54rem;
        margin-top: 2rem;
        margin-right: 0;
    }
}
  
/* #endregion */
