@font-face {
    font-family: "Mono-Regular";
    src: local("JetBrainsMono-Regular"),
      url("../.././fonts/JetBrainsMono-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Mono-Medium";
    src: local("JetBrainsMono-Medium"),
      url("../.././fonts/JetBrainsMono-Medium.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Mono-Bold";
    src: local("JetBrainsMono-Bold"),
      url("../.././fonts/JetBrainsMono-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Mono-ExtraBold"; 
    src: local("JetBrainsMono-ExtraBold"),
      url("../.././fonts/JetBrainsMono-ExtraBold.ttf") format("truetype");
  }

  .backgroundContainer {
    background: linear-gradient(180deg, #0066FF 0%, #FFFFFF 100%);
    height: 110rem;
    width: 100%;
  }

  .containerFileEdit {
    display: flex;
    flex-direction: column;

  }

  .containerProject {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }

  .Edit_Commit {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
  }

  .File {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 11px;
  }

  .fileTitle {
    font-family: "Mono-Regular";
    font-weight: lighter;
    font-size: 4rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: white;
  }

.editor {
  width: 130rem;
}

.CodeMirror * {
  font-family: 'Mono-Regular';
  font-size: 1.8rem;
}

.codeEditor {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #FFFFFF;
  border-radius: 11px;
  border: 1px solid #000000;
}

.Editor {
  padding-bottom: 3rem;
}

.commit_information {
  width: 60rem;
  height: 70rem;
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.titleName {
  width: 100%;
  height: 7rem;
  border: none;
  background: #FFFFFF;
  box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  font-family: "Mono-Regular";
  font-size: 3.1rem;
  padding-left: 2rem;
  outline: none;
}

.buttons {
  width: 100%;
  height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}

.cancelButton {
  width: 40%;
  height: 100%;
  border: none;
  background-color: #a1a1a1;
  color: white;
  font-family: "Mono-Regular";
  font-size: 3.1rem;
  border-radius: 11px;
  cursor: pointer;
  margin: 1rem;
}

.cancelButton:hover {
  background-color: #808080;
}

.updateFile {
  width: 40%;
  height: 100%;
  border: none;
  background-color: #0066FF;
  color: white;
  font-family: "Mono-Regular";
  font-size: 3.1rem;
  border-radius: 11px;
  cursor: pointer;
  margin: 1rem;
}

.updateFile:hover {
  background-color: #0077FF;
}

.description {
  width: 100%;
  height: 40%;
  margin-top: 1rem;
  border: none;
  background: #FFFFFF;
  box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  font-family: "Mono-Regular";
  font-size: 3.1rem;
  resize: none;
  padding-left: 2rem;
  padding-top: 1rem;
  outline: none
}

.fileTitleInput {
  font-family: "Mono-Regular";
  max-width: 50rem;
  font-size: 4rem;
  margin-left: 2rem;
  color: white;
  background: none;
  border: none;
}

.fileTitleInput::placeholder {
  color: white;
}

.fileTitleInput:focus {
  outline: none;
  /* height: 10rem; */
}

.fileTitleInput:active {
  outline: none;
}

.fileTitleLabel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* || Media Styles */
/* #region */
@media screen and (max-width: 2350px) {
  .Edit_Commit {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
  }

  .commit_information {
      margin-top: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
  }
}

@media screen and (max-width: 1600px) {
  .editor {
    width: 100rem;
  }
}

@media screen and (max-width: 1250px) {
  .editor {
    width: 90rem;
  }
}

@media screen and (max-width: 1125px) {
  .editor {
    width: 80rem;
  }
}

@media screen and (max-width: 1000px) {
  .editor {
    width: 70rem;
  }

  .fileTitleInput {
    max-width: 30rem;
    overflow: auto;
  }

  .fileTitleInput::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .editor {
    width: 62rem;
  }
}

/* #endregion */
