/* || Fonts */
/* #region */
@font-face {
    font-family: "Mono-Regular";
    /*Can be any text*/
    src: local("JetBrainsMono-Regular"),
        url("../.././fonts/JetBrainsMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Mono-Medium";
    /*Can be any text*/
    src: local("JetBrainsMono-Medium"),
        url("../.././fonts/JetBrainsMono-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Mono-Bold";
    /*Can be any text*/
    src: local("JetBrainsMono-Bold"),
        url("../.././fonts/JetBrainsMono-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Mono-ExtraBold";
    /*Can be any text*/
    src: local("JetBrainsMono-ExtraBold"),
        url("../.././fonts/JetBrainsMono-ExtraBold.ttf") format("truetype");
}

.ProjectSettingsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    background: linear-gradient(180deg, #0066FF 0%, #FFFFFF 100%);
}

.Project-Name-Desc-Section h2 {
    font-family: "Mono-Regular";
    font-size: 5rem;
    text-align: start;
    color: white;
}

.backButton {
    font-family: "Mono-Regular";
    font-size: 4rem;
    color: white;
    border-radius: 11px;
    align-self: flex-start;
    border: none;
    background: none;
    margin-left: 5rem;
}

.ProjectSettings {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.ProjectSettingsContentLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.ProjectSettingsContentLeft h2 {
    font-family: "Mono-Regular";
    font-size: 4rem;
    text-align: left;
    color: white;
}

.ProjectSettingsContentRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
}

.ProjectMemberSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    /* width: 80%; */
    width: 55rem;
    background-color: white;
    box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
}

.ProjectSettingsInformation {
    display:flex;
    flex-direction: row;
    max-width: 60rem;
    align-items: center;
}

.Project-Name-Desc-Section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    height: 100%;
    margin-left: 10%;
}

.ProjectInput {
    font-family: "Mono-Regular";
    font-size: 2.5rem;
    max-width: 50rem;
    /* height: 92%; */
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 11px;
    padding-left: 1rem;
    box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
    border: none;
}

.ProjectNameButton {
    font-family: "Mono-Regular";
    font-size: 2.5rem;
    /* width: 30%;
    height: 100%; */
    /* padding-top: 2%; */
    /* padding-bottom: 2%; */
    padding: 1rem;
    background: #FFFFFF;
    border: none;
    box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.25);    border-radius: 11px;
}

.ProjectDescription {
    resize: none;
    border-radius: 11px;
    min-height: 20rem;
    max-height: 40rem;
    width: 50rem;
    border: none;
    padding: 1rem;
    font-family: "Mono-Regular";
    font-size: 2.5rem;
    box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
}

.ProjectDescriptionButton {
    font-family: "Mono-Regular";
    font-size: 2.5rem;
    width: 52rem;
    background: #FFFFFF;
    border: none;
    box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    margin-top: 1rem;
    padding: 1rem;
    margin-bottom: 3rem;
    /* align-self: center; */
}

.Title-addMember {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.Title-addMember h2 {
    font-family: "Mono-Regular";
    font-size: 4rem;
    text-align: left;
    color: black;
    margin: 1rem;
}

.Title-addMember button {
    font-family: "Mono-Regular";
    font-size: 3rem;
    background-color: #49cf14;
    color: white;
    box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.MemberObject {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.Member {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.272);
}

.Member h2 {
    font-family: "Mono-Regular";
    font-size: 3rem;
    width: 40%;
    text-align: left;
    color: black;
}

.Member h3 {
    font-family: "Mono-Regular";
    font-size: 2rem;
    width: 20%;
    text-align: left;
    color: black;
}

.Member img {
    width: 10%;
    border-radius: 50%;
    margin-left: 5%;
    border: 2px solid black;
}

.Member button {
    font-family: "Mono-Regular";
    font-size: 2.5rem;
    background-color: rgb(184, 81, 81);
    color: white;
    box-shadow: inset 0px 0px 5px 3px rgba(59, 19, 19, 0.25);
    /* width: 20%; */
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    border: none;
    margin: 2%;
    padding: 2%;
}

.AddCollaboratorBox {
    display: flex;
    flex-direction: column;
    width: 60%;
    /* background: linear-gradient(180deg, #0066FF 0%, #FFFFFF 100%); */
    background: #FFFFFF;
    border-radius: 11px;
    font-family: "Mono-Regular";
    box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.25);
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addCollaboratorsTitle {
    font-family: "Mono-Regular";
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: black;
}

/* .AddCollaboratorBox h1 {
    font-size: 1.5vw;
    font-family: "Mono-Regular";
    font-weight: lighter;
    text-align: center;
} */

.AddCollaboratorBox input {
    width: 90%;
    height: 2rem;
    border-radius: 5px;
    /* border: none; */
    font-family: "Mono-Regular";
    font-size: 1.5rem;
    padding: 1%;
}

.addCollaboratorButton {
    width: 35%;
    height: 4rem;
    border-radius: 11px;
    border: none;
    font-family: "Mono-Regular";
    font-size: 1.5rem;
    background: #49cf14;
    color: #FFFFFF;
}

.addedCollaboratorButton {
    width: 35%;
    height: 4rem;
    border-radius: 11px;
    border: none;
    font-family: "Mono-Regular";
    font-size: 1.5rem;
    background: #97cf81;
    color: #FFFFFF;
}

.userFound {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
}

.userFound h1 {
    font-size: 2rem;
    font-family: "Mono-Regular";
    font-weight: lighter;
    color: black;
}

.userFound h2 {
    font-size: 1.5rem;
    font-family: "Mono-Regular";
    font-weight: lighter;
    /* color: black; */
    margin: 0;
}

.Title-Exit {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.ExitButton {
    border-radius: 11px;
    border: none;
    background: none;
    font-family: "Mono-Regular";
    font-size: 3rem;
    color: black;
}

h3 {
    font-family: "Mono-Regular";
    font-size: 2rem;
    text-align: center;
    color: green;
}

.DeleteProjectButton {
    /* width: 30%;
    height: 10%; */
    margin-top: 1rem;
    padding: 1rem;
    font-family: "Mono-Regular";
    font-size: 2.5rem;
    background: rgb(228, 59, 59);
    border: none;
    box-shadow: inset 0px 0px 5px 3px rgba(59, 19, 19, 0.25);
    border-radius: 11px;
    color: white;
    margin-bottom: 3rem;
}

/* || Media Styles */
/* #region */
@media screen and (max-width: 1450px) {
    .Title-addMember {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }

    .ProjectMemberSection {
        width: 40rem;
    }
}

@media screen and (max-width: 1330px) {
    .ProjectSettings {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ProjectSettingsContentLeft {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Project-Name-Desc-Section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-top: 20rem;
    }

    .ProjectSettingsContentRight {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .AddCollaboratorBox {
        width: 40rem;
        margin-top: 10rem;
    }

    .projectNameTitle {
        font-family: "Mono-Regular";
        font-size: 4rem;
        text-align: start;
        color: white;
        margin-top: 10rem;
    }

    .ProjectMemberSection {
        margin-top: 10rem;
    }

}

/* #endregion */


